@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div{
    margin: 0 20px;
}

.new_btn{
    opacity: 0;
    visibility: hidden;
}

.new_product:hover .new_btn{
    opacity: 1;
    visibility: visible;
    transition: all linear .3s;
}

.header {
    position: fixed;
    top: -100px; 
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out; 
  }
  
  .header.sticky {
    top: 0; 
  }
  
  .header.hidden {
    top: -100px; 
  }

