@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div{
    margin: 0 20px;
}

.new_btn{
    opacity: 0;
    visibility: hidden;
}

.new_product:hover .new_btn{
    opacity: 1;
    visibility: visible;
    transition: all linear .3s;
}


